html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
}

h1 {
  padding-left:5px
}

h1 span {
  color:#5A85FF;
}

.container {
  width:800px;
  margin:auto;
}

.top-controls{
  padding:5px;
}

.board{
  margin-top:10px;
}

.bottom-controls{
  position:relative;
  padding:20px 5px;
}
.slow {
  float:left;
  margin-left:10px;
  line-height:28px;
}

.fast {
  float:right;
  margin-right:10px;
  line-height:28px;
}

#slider{
  clear:both;
}
